//colors
$black: #222222;
$red: #FF2600;
$gray-1: #C7C7C7;
$gray-2: #DBDBDB;

// // paragraph
// $paragraph-color: #6E645F;
// $paragraph-font-size: 16px;
// $paragraph-line-heigth: 24px;
// $paragraph-font-family: 'DM Sans', sans-serif;

// // headings
// $headings-color: #FFFFFF;
// $headings-font-family: 'Lexend Deca', sans-serif;
// $h1-font-size: 60px;
// $h2-font-size: 48px;
// $h3-font-size: 40px;
// $h4-font-size: 30px;
